body {
  background: grey;
}
h1 {
  color: white;
  text-align:center;
  text-decoration: none;
}
h1:hover {
  color: blue;
  text-align:center;
  text-decoration: none;
}
.home {
  border: 1px solid #000000;
  padding: 10px 10px 10px 10px;
  display: inline-flex;
  position: fixed;
  margin: -10px 0px 0px 0px;
  background-color: #f1f1f1;
}
.home img {
  width:30px;
  height: 30px;
}
.container {
  width: 100%;
}
.col-sm-4, .col-sm-12 {
  border: 1px solid #3393d1;
  margin: 2px 0px 2px 0px;
  background-color: #f1f1f1 !important;
  border-radius: 5px;
  cursor: pointer;
  padding: 30px 0px 30px 0px;
  text-decoration: none !important;
  text-align: center !important;
}

.row .col-sm-4 {
  display: inline-flex;
  position: relative;
  width: 33%;
}
.col-sm-4 a,
.col-sm-12 a {
  text-decoration: none !important;
}
.col-sm-4 a span {
  display: block;
  position: relative;
  margin-left: 150%;
  width: 100%;
  padding: 3px 3px 3px 3px !important;
  background-color: #3393d1;
    border-radius: 5px !important;
    text-align: Center;
    color: #F1f1f1 !important;
    border: 2px solid #3393d1;
    text-decoration: none;
}
.col-sm-4 a span:hover {
  display: block;
  position: relative;
  margin-left: 150%;
  width: 100%;
  padding: 3px 3px 3px 3px !important;
  background-color: #f1f1f1 !important;
    border-radius: 5px !important;
    text-align: center !important;
    color: #3393d1 !important;
    border: 2px solid #3393d1 !important;;
    text-decoration: none;
}

.col-sm-12 a span {
  display: block;
  position: relative;
  margin-left: 46%;
    width: 9%;
    padding: 3px 3px 3px 3px !important;
    background-color: #3393d1;
    border-radius: 5px !important;
    text-align: Center;
    color: #F1f1f1 !important;
    border: 2px solid #3393d1;
    text-decoration: none;

}
.col-sm-12 a span:hover {
  display: block;
  position: relative;
  margin-left: 46%;
    width: 9%;
    padding: 3px 3px 3px 3px !important;
    background-color: #F1f1f1;
    border-radius: 5px !important;
    text-align: center;
    color: #3393d1 !important;
    border: 2px solid #3393d1;
    text-decoration: none;
}
span {
  font-family: sans-serif;
  font-size: 18px;
  color: #3393d1;
}
.progressbar {
  border: 2px solid #fff;
  width: 462px;
  text-align: center;
  margin-left: 33.5%;
  background-color: #3693d1;
  border-radius: 15px;
}
.progressbar span {
  color: #fff !important;
  text-decoration: none !important;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 500px;
    margin-top:10px;
    margin-left: 32%;
    border-radius:15px;
}

#panel {
    padding: 50px;
    display: none;
    width: 412px !important;
}

#input1:focus {
  background-color: red;
}
